{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="text-align: center">Your profile</h1>
    <div class="container">
        <div class="row flex">
            {% for good in allUserGoods %}
                <div class="col-4 mt-3">
                    <div class="card" style="width: 23rem">
                        {% if good.filename != 'NULL' %}
                            <img class="card-img-top" src="{{ vich_uploader_asset(good, 'imageFile') }}" title={{ good.title }} alt={{ good.title }}">
                        {% else %}
                            <img class="card-img-top" src="https://www.hopkinsmedicine.org/-/media/feature/noimageavailable.ashx" title="no_image_available" alt="no_image_available">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ good.title }}</h5>
                            <h3 class="card-text" style="color: olivedrab;">{{ good.price | number_format(0, '', ' ') }}$</h3>
                            <p class="card-text">{{ good.postalCode }}, {{ good.city }}</p>
                            <p class="card-text">
                                                <span class="lead" style="font-size: medium">
                                                    on {{ good.createdAt|date('d/m/Y') }} at {{ good.createdAt|date('H:i') }}
                                                </span>
                            </p>
                            <a href="{{ path('good', {good_id: good.id}) }}" class="btn">Show good</a>
                            <a href="{{ path('edit', {good_id: good.id}) }}" class="btn">Edit</a>
                            <a href="{{ path('delete', {good_id: good.id}) }}" class="btn">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br/>
{% endblock %}