{% extends 'base.html.twig' %}
{% block body %}
    <h1 id="top" style="text-align: center">Messages</h1>
    <p style="text-align: center"><a class="mx-auto" href="#bottom">Go to bottom</a></p>
    <br>

    {% for message in allMessages %}
        {% if app.user == message.userOne %}
            <div class="card offset-md-6" style="width: 30rem; background-color: #ff9b30">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2" style="color: white">{{ message.userOne.username }}</h6>
                    <p class="card-text" style="color: white">{{ message.content }}</p>
                    <span class="lead" style="font-size: small; color: white;">
                        on {{ message.sentAt|date('d/m/Y') }} at {{ message.sentAt|date('H:i') }}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="card offset-md-2" style="width: 30rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ message.userOne.username }}</h6>
                    <p class="card-text">{{ message.content }}</p>
                    <span class="lead" style="font-size: small">
                        on {{ message.sentAt|date('d/m/Y') }} at {{ message.sentAt|date('H:i') }}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <br>
    <p style="text-align: center"><a class="mx-auto" href="#top">Go to top</a></p>
    <div class="form-message">
        {{ form_start(form) }}
        <div class="form-group", style="margin: 20px">
            {{ form_row(form.content, {'attr': {'placeholder':"Message..."}}) }}
        </div>
        <div class="mx-auto" style="text-align: center">
            <button type="submit" class="btn mx-auto" id="bottom">Send</button>
        </div>
        {{ form_end(form) }}
    </div>
    <br>
{% endblock %}