<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnB{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        .btn
        {
            background-color: #ff9b30;
            color: white;
        }

        .card-img-top
        {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        .img-fluid
        {
            max-width: 80%;
            height: auto;
        }

        a:hover
        {
            color: #ffd09e; text-decoration: none;
        }
        a
        {
            color: olivedrab;
        }
    </style>
    <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff9b30;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('home') }}">Home</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu != 'login' %}active{% endif %}" href="{{ path('home') }}">Home</a>
                </li>
                {% endif %}
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'sell' %}active{% endif %}" href="{{ path('sell') }}" style="margin-left: 80px;">Sell</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}" style="margin-left: 80px;">SnB</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'messages' %}active{% endif %}" href="{{ path('messages') }}" style="margin-left: 80px;">Messages</a>
                </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}" style="margin-left: 80px;">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('security_login') }}" style="margin-left: 80px;">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

        {% block body %}{% endblock %}
    <!-- Footer -->
    <br><br>
    <footer class="page-footer font-small fixed-bottom" style="background-color: #ff9b30; color: white;">
        <div class="footer-copyright text-center py-3">© 2019 Copyright: SnB</div>
    </footer>
    <!-- Footer -->
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
